// Base

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

body {
  padding: 0;  
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  font-weight: 300;
  background: var(--body-bg);
  // height: 100vh;
}


// headings ------------
h1,h2,h3,h5,h6 {
  margin: 0 0 .5em;
  color: var(--heading-color);
  font-family: 'Montserrat', sans-serif;
}

// links ---------------
a {
  color: var(--link-color);
}

// helper classes ---------
.calign {
  text-align: center;
}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

// generic-entry ------------
.generic-entry {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.07);
  border-radius: 5px;
  margin-bottom: .5em;
  padding: 1em;
  background: #fff;
}

// root ---------------
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  overflow: hidden;
}

// page --------------------
.page-content {
  padding-top: var(--app-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  min-height: 100vh !important;
  &.no-pad {
    padding: 0;
  }
}

.page-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// sign in + sign up pages ----------
.signinup-box,
.signup-box {  
  max-width: 320px;
  text-align: center;
}

.signinup-logo {
  width: 200px;
  margin-bottom: 1em;
}

// guide page ---------------
.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 600px;
  img {
    width: 100%;
    height: auto;
  }
}

// RESPONSIVE - MOBILE -------------------
@media all and (max-width: 768px){ 

  .signinup-box {
    width: 90%;
    max-width: none;
  }

  .navbar-img {
    display: none !important;
  }
}

// ADD PET pages ----------
.add-pet-box { 
  padding-top: 75px; 
  text-align: center;
  margin-top: auto;
  padding-bottom: 50px;
}

.form-add-pet {
  margin-top: auto;
}

.add-pet-logo {
  width: 200px;
  margin-bottom: 1em;
}

// RESPONSIVE - MOBILE -------------------
@media all and (max-width: 768px){ 

  .add-pet-box {
    max-width: none;
  }
}